.confirm__bg {
  background-color: rgba(255, 255, 255, 0.95);
}

.swal-modal {
  border: 3px solid #ffb11b;
}

.swal-title {
  margin: 0px;
  font-size: 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 8px;
}